h1 {
  font-family: "101BlockLetterz";
  font-size: 40px;
  font-weight: normal;
}

img {
  /* transition: transform 330ms ease-in-out; */
  align-self: center;
  transition-duration: 2s;
  transition-property: all;
  cursor: pointer;
  grid-column: span 2;
}

img:hover {
  transform: translateY(-10px);
}

.grid {
  width: 600px;
  transition: all 1s;
  display: grid;
  grid-template-columns: repeat(14, 50px);

}

/* .grid .is-viewing-section {
  width: 600px;
} */

#blank-left {
  grid-column: span 4;
  grid-row: span 2;
}

.is-viewing-section > #blank-left {
  grid-column: span 1;
}

#blank-right {
  grid-column: span 3 / end;
  grid-row: 1 / auto / span 2;
}